.EasyDNNTheme_HelloAI-theme-2
  .raMenuWrapper
    width: 100%

    ul,
    li
      margin: 0
      padding: 0

    li
      list-style: none

  .edsmm_itemContainer
    text-decoration: none

  button.edsmm_itemContainer
    border: 0
    background: transparent
    width: 100%
    text-align: left
